@import "nullstyle";

$margin-top:40px;
$padding-block:0 15px;

@font-face {
    font-family: 'NouvelR';
    src: url('../../assets/fonts/NotoSans.woff');
}

@font-face {
    font-family: 'Lada';
    src: url('../../assets/fonts/PragmaticaC.woff');
}



.burger-menu {
    transition: .5s;
    transform: translateY(-3000px);
    z-index: 2;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background-color: #000;

    &__wrapper {
        padding: 13px 15px;
        background-color: #000;

        button {
            margin-top: 60px;
            background-color: #fff;
            color: #000;
            margin-bottom: 25px;
        }
    }


    &__top {

        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #000;
    }


    &__close-btn {
        padding: 15px;
        cursor: pointer;

        div {
            position: relative;
            width: 20px;
            height: 2px;
            background-color: #fff;
            transform: rotate(-45deg);

            &::before {
                content: '';
                position: absolute;
                width: 20px;
                height: 2px;
                background-color: #fff;
                transform: rotate(-95deg);

            }
        }
    }

    &__nav {
        margin-top: 50px;
        padding: 13px 15px;

        ul {
            display: grid;

            li {
                padding: 20px 0;
                position: relative;
                cursor: pointer;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;

                &::before {
                    position: absolute;
                    content: '';
                    width: 80%;
                    height: 1px;
                    background: #7A7A7A;
                    bottom: 0;
                    left: calc(50% - 40%);
                }

            }
        }
    }

    &__phone-link {
        padding: 10px 0;
        width: 100%;
        text-align: center;

        a {
            padding: 10px 0;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
        }
    }
}

.protection {
    position: relative;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    font-family: NouvelR;

    &__wrapper {
        font-family: NouvelR;
    }
}

.header {
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;

    &__wrapper {
        padding: 13px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #000;

    }

    &__logo {
        img {
            max-width: 30px;
            width: 100%;
        }
    }

    &__burger-icon {
        cursor: pointer;
        padding: 20px;

        div {
            width: 13px;
            height: 2px;
            background-color: #fff;
            position: relative;


            &::after {
                position: absolute;
                content: '';
                width: 20px;
                height: 2px;
                background-color: #fff;
                top: -5px;
                left: 0;
            }

            &::before {
                position: absolute;
                content: '';
                width: 17px;
                height: 2px;
                background-color: #fff;
                bottom: -5px;
                left: 0;
            }
        }

    }
}

.main {
    margin-top: 68px;
}

.main-first-screen {

    &__discont {
        background: #000000;
        opacity: 0.6;

        p {
            padding: 5px 0;

            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            color: #fff;
            text-align: center;
        }
    }

    &__image {
        img {
            width: 100%;
        }
    }

    &__text {
        margin-top: 10px;
        padding: 0 15px;

        h1 {
            font-weight: bold;
            font-size: 32px;
            line-height: 38px;
            text-align: center;
            color: #000000;
        }

        h5 {
            margin-top: 15px;
            margin-bottom: 20px;
            font-size: 22px;
            line-height: 26px;
            text-align: center;
            color: #000000;

        }

        p {
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #000000;

            span {
                font-weight: bold;
            }
        }

        p:last-child {
            margin-top: 5px;
        }
    }

    &__more-info {
        margin-top: $margin-top;
        display: flex;
        justify-content: center;
        align-items: center;


        p {

            font-size: 14px;
            line-height: 17px;
            display: flex;
            text-align: center;
            color: #666666;

            cursor: pointer;
            padding: 10px;
        }
    }
}


.main-benefits {
    padding: $padding-block;
    margin-top: $margin-top;

    &__text {
        margin-bottom: 20px;
    }

    &__list {
        ul {
            li {
                display: flex;
                align-items: center;
                background: #F0F0F0;
                border-radius: 40px;
                margin: 15px 0;

                p {
                    margin-left: 10px;
                }
            }
        }
    }
}

.main-features {
    margin-top: $margin-top;
    padding: $padding-block;

    &__text {
        margin-bottom: 20px;
    }
}

.main-facts {
    margin-top: $margin-top;
    padding: $padding-block;

    &__text {
        ul {
            li {
                margin-bottom: 15px;
                line-height: 17px;

                span {
                    font-weight: bold;
                }

                img {
                    max-width: 700px;
                    width: 100%;
                }
            }
        }
    }
}

.main-competitors {
    margin-top: $margin-top;
    padding: $padding-block;

    &__title {
        display: flex;
        align-items: center;

        p {
            margin-left: 10px;
        }

        margin-bottom: 20px;
    }
}



.main-install {
    margin-top: $margin-top;
    padding: $padding-block;

    p {
        margin-bottom: 20px;
    }
}



.main-questions {
    margin-top: $margin-top;
    padding: $padding-block;
}

.call-info {
    margin-top: 50px;
    margin-bottom: 40px;
    padding: $padding-block;

    p {
        margin-bottom: 12px;

        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;

        color: #000000;
    }

    .link {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        a {
            font-size: 36px;
            line-height: 43px;
            text-align: center;
            color: #000000;
            margin-bottom: 5px;

            div {
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                color: #000000;
            }
        }
    }
}

.footer {
    background-color: #000;

    &__wrapper {

        padding: $padding-block;
    }

    nav {
        padding-top: 30px;
        padding-bottom: 20px;

        ul {
            display: flex;
            justify-content: space-around;

            li {
                a {
                    padding: 10px;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FFFFFF;
                }
            }
        }
    }

    p {

        font-size: 10px;
        line-height: 12px;
        text-align: center;
        color: #FFFFFF;
        line-height: 20px;
    }

    &__logo {
        padding: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 15px;
            margin-right: 5px;
        }

        p {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
        }
    }
}

.btn-buy,
.btn-send-to-server {
    margin-top: 15px;

    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
    width: 100%;
    padding: 15px 0;
}

.form-block {
    opacity: 1;
    position: relative;
    box-sizing: border-box;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
}

.blur-block {
    transition: .3s;
    transform: translateX(-50%);
    z-index: 1;
    position: absolute;
    padding: 3000px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(14px);
}

.form,
.accept-block,
.try-again-block {
    box-sizing: border-box;
    width: 100%;
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 35px 15px;
    border-radius: 20px 20px 0px 0px;
    background: #FFFFFF;

    &__top {

        h3 {
            margin: 0;
        }

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__body {
        margin-top: 40px;
        display: grid;

        input {
            font-size: 20px;
            line-height: 24px;
            color: #000000;
            box-sizing: border-box;

            border-bottom: 1px solid #000000;

            width: 100%;
            padding: 15px;

            &:first-child {
                margin-bottom: 30px;
            }

            &:focus {
                outline: none;
            }
        }

    }
}

.accept-block,
.try-again-block {
    .close-btn {
        display: flex;
        justify-content: flex-end;
    }
}

.try-again-block__body,
.accept-block__body {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    text-align: center;

    div {
        display: flex;
        justify-content: center;
    }

    p {
        margin-top: 25px;
        font-size: 14px;
        line-height: 17px;
    }

    button {
        margin-top: 30px;
        background: #000000;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        padding: 13px 0;

    }
}


.close-btn {
    padding: 13px;
    cursor: pointer;

    div {
        position: relative;
        width: 20px;
        height: 2px;
        background-color: #000;
        transform: rotate(-45deg);

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 2px;
            background-color: #000;
            transform: rotate(-95deg);

        }
    }
}

.arrow {
    animation: move-arrow 1.5s infinite ease-out;
    animation-timing-function: linear;
    font-size: 30px;
    color: #666666;
    transform: translateY(-3px);
    transition: .5s;
}

@keyframes move-arrow {
    0% {
        transform: translateY(-4px);
        opacity: 0;
    }

    25% {
        transform: translateY(-2px);
        opacity: 1;
    }

    50% {
        transform: translateY(0px);
    }

    75% {
        transform: translateY(2px);
        opacity: 0.6;
    }

    100% {
        transform: translateY(4px);
        opacity: 0;
    }
}

h3 {
    margin-bottom: 20px;

    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

P {

    font-size: 14px;
    line-height: 17px;
    align-items: center;
    color: #000000;
}


.swiper-container {
    padding: 40px 0;
}

.swiper-slide {


    img {
        max-width: 500px;

        width: 100%;
    }
}

.swiper-button-next,
.swiper-button-prev {
    display: none;
}

.no-active {

    opacity: 0;
    z-index: -10;
    transition: .3s;
}

.btn-accept {}

.try-again-block {}

.btn-try-again {}

.header_fixed {
    position: fixed;
    left: 0;
    top: 0;
}

.space {
    height: 68px;
    width: 100%;
}

.spiner {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.loading {

    margin: 0 auto;
    background: white;
    position: relative;
}

.loading::after {
    border: 2vmin solid rgb(240, 240, 240);
    border-top: 2vmin solid rgb(0, 0, 0);
    position: absolute;
    width: 20px;
    height: 20px;
    content: "";
    border-radius: 50%;
    animation: spin .7s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hide {
    display: none;

}

.show {

    display: unset;
}

.protection {
    height: 100%;
    width: 100%;
}

.error {
    font-size: 15px;
    font-family: NouvelR;
    position: relative;
    top: 30%;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;

    p {
        line-height: 30px;
        font-size: 18px;
        font-weight: bold;
    }
}

.swiper-pagination-bullet-active {
    background-color: #000;
}


/* ----------brand------- */

.lada {
    font-family: Lada !important;

    .protection__wrapper {
        font-family: Lada !important;
    }
    

    .header__wrapper,
    .burger-menu__wrapper,
    .burger-menu {
        background: linear-gradient(90deg, rgba(255, 129, 24, 1) 0%, rgba(253, 126, 20, 1) 50%, rgba(252, 176, 69, 1) 100%);
    }

    .burger-menu__top {
        background: unset;
    }

    .burger-menu__nav ul li::before {
        background: #fff;
    }

    .burger-menu__nav ul li {
        font-weight: bold;
    }

    .btn-buy,
    .btn-send-to-server {
        background: linear-gradient(90deg, #ff8118 0%, #fd7e14 50%, #fcb045 100%);
    }

    .footer {
        background: linear-gradient(90deg, rgba(255, 129, 24, 1) 0%, rgba(253, 126, 20, 1) 50%, rgba(252, 176, 69, 1) 100%);
    }
    .burger-menu .btn-buy {
        background: #fff;
    }

    .swiper-pagination-bullet-active {
        background-color: #ff8118;
    }
}